.flexbox {
  display: flex;
  height: 750px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
  font-size: x-large;
  border: 1px solid #000000;
  width: 25em;
  height: 15em;
  margin: auto;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.german {
  background-color: rgba(255, 250, 209, 0.835);
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.spanish {
  background-color: rgba(247, 238, 255, 0.873);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.card h2 {
  padding: 115px 0;
  text-align: center;
}
.hidden {
  display: none;
}
.startButton {
  border: 2px solid #000000;
  background-color: white;
  text-align: center;
  cursor: pointer;
  width: 22em;
  height: 17em;
  font-size: large;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.startButton:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(248, 248, 248);
}
.rightButton {
  border: 2px solid #000000;
  background-color: rgb(85, 255, 110);
  font-size: x-large;
  cursor: pointer;
  width: 5em;
  height: 3em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.wrongButton {
  border: 2px solid #000000;
  background-color: rgb(255, 85, 85);
  font-size: x-large;
  cursor: pointer;
  width: 5em;
  height: 3em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
